body
{
	background-color: white/*#070707*/;
	color: black;

}
ul
{
	list-style-type: none;
	font-size: x-large;
	padding-left: 0px;

}
li:hover
{
	border-bottom: 2px solid #ff7e00;
        padding-bottom: 2px;
}
li img
{
	height: 1em;
	padding-right: 6px;
	vertical-align:middle;
	-webkit-user-drag: none;
}

#badge-plus {

	width: 4em;
	height: 4em;
	position: absolute;
	bottom: 1em;
	right: 1em;
	transition: box-shadow 120ms cubic-bezier(.25,.25,0,1);
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-radius: 50%;
	/*display: table;*/


	background-color: red;
	/*border: 2px solid white;
	border-radius: 12px; /* one half of ( (border * 2) + height + padding )
	box-shadow: 1px 1px 1px black;
	color: white;
	font: bold 15px/13px Helvetica, Verdana, Tahoma;
	height: 16px; 
	padding: 4px 3px 0 3px;
	text-align: center;
	min-width: 14px;*/

	transform: scale(1) rotate(360deg);
	transition: transform 300ms cubic-bezier(.4,0,1,1);

}

#badge-plus img {

	margin-left: 1em;
	margin-top: 1em;
	height: 2em;
	-webkit-user-drag: none;

	/*margin: auto;*/
	/*height: 20%;*/
	/*width: 20%;*/
	/*position: absolute;*/
	/*top: 0;
	left: 0;
	bottom: 0;
	right: 0;*/
	/*text-align: center;
	vertical-align: middle;
	display: table-cell;*/

}

#badge-plus:hover{

	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);

}

#badge-plus:active{

	box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36)

}

.tableau-film{

	float: left;
	padding-right: 100px;

}

.menu{
	float: left;
	padding-right: 50px;	
}	

